.search {
  width: 100%;
  margin-bottom: var(--spacing-xs);
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.clearButtonWrapper {
  position: absolute;
  right: var(--spacing-md);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
